[x-cloak] { display: none !important; }

*{
    font-family: "Inter", sans-serif;
}

body{
    @apply bg-white dark:bg-grayy text-black;
}

.main{
    @apply mt-[90px] pt-[170px] dark:bg-grayy
}

.test{
    @apply bg-white dark:bg-grayy ;
}

.my_container{
    @apply max-w-[1200px] mx-auto px-4;
}

.nav_container{
    @apply max-w-[1440px] mx-auto;
}

.itemActive{
    @apply text-white bg-greenn stroke-white;
}

.itemInactive{
    @apply text-white bg-gray-500 stroke-greenn;
}

.flex-justify-center{
    @apply flex justify-center;
}

.flex-justify-between{
    @apply flex justify-between;
}

.switch_editTable {
    @apply relative inline-block w-[32px] h-[17px];

    input{
        @apply opacity-0 w-[0] h-[0];
    }

    .slider{
        @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-white;
        -webkit-transition: .4s;
        transition: .4s;

        &::before{
            @apply absolute content-[''] w-[12px] h-[12px] left-[2px] bottom-[2.5px] bg-greenn;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input:focus + .slider{
       
    }

    input:checked + .slider{
        @apply bg-greenn;
    }

    input:checked + .slider::before{
        -webkit-tranform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px);
        @apply bg-white;
    }

    .slider.round{
        @apply rounded-full;
    }

    .slider.round::before{
        @apply rounded-full;
    }
}
