@charset "UTF-8";
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
[x-cloak] {
  display: none !important;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-white dark:bg-grayy text-black;
}

.main {
  @apply mt-[90px] py-[170px] dark:bg-grayy;
}

.test {
  @apply bg-white dark:bg-grayy;
}

.my_container {
  @apply max-w-[1200px] mx-auto px-4;
}

.nav_container {
  @apply max-w-[1440px] mx-auto;
}

.itemActive {
  @apply text-white bg-greenn stroke-white;
}

.itemInactive {
  @apply text-white bg-gray-400 stroke-greenn;
}

.flex-justify-center {
  @apply flex justify-center;
}

.flex-justify-between {
  @apply flex justify-between;
}

.navbar {
  @apply h-[90px] bg-darkBlack fixed top-0 left-0 right-0 z-50;
}
.navbar .bg-nav {
  @apply bg-darkBlack relative z-50;
}
.navbar ._container {
  @apply bg-darkBlack px-[49px] flex justify-between items-center;
}
.navbar ._container .logo {
  @apply max-w-[224px];
}
.navbar ._container .logo img {
  @apply w-full h-full object-cover;
}
.navbar ._container .nav {
  @apply flex items-center sm:hidden;
}
.navbar ._container .nav .-list {
  @apply flex items-center;
}
.navbar ._container .nav .-list li {
  @apply py-[31px] px-[15px] text-lg font-semibold text-white flex items-center gap-[5px] hover:cursor-pointer;
}
.navbar ._container .nav .-list li svg {
  @apply w-5 h-5 text-white font-semibold;
}
.navbar ._container .nav .-list li:hover {
  @apply cursor-pointer;
}
.navbar ._container .nav .-list li:hover a {
  @apply text-greenn;
}
.navbar ._container .nav .-list li:hover svg {
  @apply text-greenn transition-all duration-300;
}
.navbar ._container .nav .user {
  @apply flex items-center gap-[15px] ps-[15px];
}
.navbar ._container .nav .user ._login {
  @apply text-white text-lg font-semibold underline underline-offset-[3px];
}
.navbar ._container .nav .user ._signUp {
  @apply rounded-full text-lg font-semibold text-black bg-white px-3 py-1;
}
.navbar .nav_dropdown {
  @apply absolute top-[100%] left-0 right-0 w-full rounded-[10px];
}
.navbar .nav_dropdown .-list {
  @apply flex flex-row-reverse;
}
.navbar .nav_dropdown .-list a {
  @apply text-white bg-darkBlack py-[18px] px-[10px] w-[250px] flex flex-col gap-[20px];
}
.navbar .nav_dropdown .-list a p {
  @apply text-base font-medium uppercase;
}
.navbar .nav_dropdown .-list a span {
  @apply text-sm pb-[20px];
}
.navbar .nav_dropdown .-list a:hover p {
  @apply text-greenn;
}
.navbar .nav_dropdown .-list a:hover span {
  @apply text-greenn;
}

footer {
  @apply bg-footerGrayy;
}
footer ._top {
  @apply pt-[50px] pb-[80px] bg-footerGrayy;
}
footer ._top ._container {
  @apply flex justify-between w-full;
}
footer ._top ._container .-column {
  @apply flex-1 flex flex-col gap-[36px] w-fit text-white max-w-[140px];
}
footer ._top ._container .-column .-title {
  @apply text-lg font-semibold uppercase;
}
footer ._top ._container .-column .-list {
  @apply flex flex-col gap-[20px];
}
footer ._top ._container .-column .-list a {
  @apply text-lg font-semibold;
}
footer ._top ._container .-column .-desc {
  @apply text-lg font-semibold;
}
footer ._top ._container .-column .Logo {
  @apply max-w-[244px];
}
footer ._top ._container .-column .Logo img {
  @apply w-full h-full object-cover;
}
footer ._top ._container .-column:nth-child(1) {
  @apply max-w-[300px];
}
footer ._bottom {
  @apply bg-grayy border-t-[1px] border-white;
}
footer ._bottom ._container {
  @apply py-[60px] flex items-center justify-between;
}
footer ._bottom ._container span {
  @apply text-lg font-semibold text-white;
}
footer ._bottom ._container span a {
  @apply underline underline-offset-[3px];
}

.breadcrumb_container {
  @apply inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse mt-4;
}
.breadcrumb_container li {
  @apply text-[14px] text-white font-medium last:text-greenn hover:text-greenn;
}

.modal_container {
  @apply flex items-center justify-center;
}
.modal_button {
  @apply px-6 py-3 text-contact_text text-2xl bg-white rounded-3xl font-normal;
}
.modal_wrapper {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50;
}
.modal_content {
  @apply bg-white rounded-lg shadow-lg w-[90%] max-w-xl p-6 relative;
}
.modal_header {
  @apply flex w-full justify-between;
}
.modal_header h4 {
  @apply text-3xl font-semibold text-enterprise_text;
}
.modal_body {
  @apply flex flex-col gap-4 my-4;
}
.modal_input {
  @apply w-full px-4 py-3 border border-enterprise_input-border rounded-lg placeholder:text-enterprise_text placeholder:text-sm placeholder:font-normal text-enterprise_text;
}
.modal_select {
  @apply w-full px-4 py-3 bg-white border border-enterprise_input-border rounded-lg text-left focus:outline-none flex justify-between;
}
.modal_select-icon {
  @apply size-6;
}

.hero {
  @apply bg-white dark:bg-grayy;
}
.hero ._grid {
  @apply flex gap-[50px] pb-[170px];
}
.hero ._grid ._left {
  @apply flex flex-col justify-center gap-[45px];
}
.hero ._grid ._left ._container {
  @apply flex flex-col gap-[15px] justify-center;
}
.hero ._grid ._left ._container h2 {
  @apply text-[64px] leading-none font-bold text-yelloww;
}
.hero ._grid ._left ._container span {
  @apply text-[18px] font-normal text-grayy dark:text-white;
}
.hero ._grid ._left ._container p {
  @apply text-[24px]  font-semibold text-grayy dark:text-white;
}
.hero ._grid ._left button {
  @apply w-fit bg-greenn text-white text-[18px] font-semibold px-[20px] py-[12px] rounded-full hover:bg-darkGreenn hover:text-white transition-all duration-300;
}
.hero ._grid ._right {
  @apply flex flex-row-reverse max-w-[434px] max-h-[428px];
}
.hero ._grid ._right img {
  @apply w-full h-full object-cover;
}

.QrForm {
  @apply dark:bg-grayy pb-[260px];
}
.QrForm ._container {
  @apply flex flex-col gap-[30px];
}
.QrForm ._container ._selection {
  @apply border border-grayy rounded-lg bg-grayy flex;
}
.QrForm ._container ._selection .over-flow {
  @apply flex overflow-x-auto relative mx-[15px];
}
.QrForm ._container ._selection .over-flow .-list {
  @apply relative flex flex-nowrap gap-[10px] py-[15px] dark:bg-grayy;
}
.QrForm ._container ._selection .over-flow .-list .sl_list-item {
  @apply font-semibold rounded-lg px-[20px] py-[10px] w-max flex flex-col justify-center items-center;
}
.QrForm ._container ._selection .over-flow .-list .sl_list-item span {
  @apply text-base font-medium;
}
.QrForm ._container ._selection .over-flow .-list .sl_list-item svg {
  @apply w-6 h-6 stroke-none;
}
.QrForm ._container ._selection .over-flow::-webkit-scrollbar {
  display: none;
}
.QrForm ._container ._selection .arrow-start {
  @apply flex items-center justify-center w-[50px] font-semibold cursor-pointer ps-[10px];
}
.QrForm ._container ._selection .arrow-start svg {
  @apply text-black dark:text-white;
}
.QrForm ._container ._selection .arrow-end {
  @apply flex items-center justify-center w-[50px] font-semibold cursor-pointer pe-[10px];
}
.QrForm ._container ._selection .arrow-end svg {
  @apply text-black dark:text-white;
}

.section1 {
  @apply dark:bg-grayy;
}
.section1 ._container {
  @apply flex gap-[105px];
}
.section1 ._container ._left img {
  @apply w-[480px] h-[472px] object-cover;
}
.section1 ._container ._right {
  @apply flex flex-col justify-center flex-1;
}
.section1 ._container ._right ._container {
  @apply flex flex-col justify-center;
}
.section1 ._container ._right ._container h2 {
  @apply text-[64px] font-bold dark:text-white;
}
.section1 ._container ._right ._container p {
  @apply text-[18px] font-semibold dark:text-white;
}

.section2 {
  @apply dark:bg-grayy py-[150px];
}
.section2 ._container {
  @apply p-[50px] bg-white;
}
.section2 ._container .-box {
  @apply flex gap-[90px];
}
.section2 ._container .-box ._left {
  @apply flex flex-col justify-center flex-1;
}
.section2 ._container .-box ._left ._flex-col {
  @apply flex flex-col gap-[35px];
}
.section2 ._container .-box ._left ._flex-col .-title {
  @apply flex flex-col gap-[15px];
}
.section2 ._container .-box ._left ._flex-col .-title h2 {
  @apply text-5xl font-bold;
}
.section2 ._container .-box ._left ._flex-col .-title span {
  @apply text-lg font-semibold;
}
.section2 ._container .-box ._left ._flex-col button {
  @apply p-[12px] rounded-full bg-greenn text-sm w-fit text-white hover:bg-darkGreenn transition-all duration-300;
}
.section2 ._container .-box ._right img {
  @apply w-full h-full object-cover;
}

.section3 {
  @apply dark:bg-grayy;
}
.section3 ._container {
  @apply flex gap-[116px];
}
.section3 ._container ._left img {
  @apply w-full h-full object-cover;
}
.section3 ._container ._right {
  @apply flex flex-col justify-center w-full flex-1;
}
.section3 ._container ._right .-flex-col {
  @apply flex flex-col gap-[40px];
}
.section3 ._container ._right .-flex-col ._title {
  @apply text-4xl font-bold dark:text-white text-black;
}
.section3 ._container ._right .-flex-col ._list {
  @apply flex flex-col gap-[15px];
}
.section3 ._container ._right .-flex-col ._list .-box {
  @apply flex justify-between items-center dark:text-white;
}
.section3 ._container ._right .-flex-col ._list .-box span {
  @apply text-lg font-semibold;
}
.section3 ._container ._right .-flex-col ._list .-box svg {
  @apply w-6 h-6;
}

.section4 {
  @apply dark:bg-grayy pt-[150px];
}
.section4 .swiper1 {
  @apply w-full h-full;
}
.section4 .swiper1 .-slide {
  @apply p-[50px] bg-white flex justify-between gap-[207px];
}
.section4 .swiper1 .-slide ._left img {
  @apply w-full h-full object-cover;
}
.section4 .swiper1 .-slide ._right {
  @apply flex flex-col gap-[45px] flex-1;
}
.section4 .swiper1 .-slide ._right ._content {
  @apply flex flex-col gap-[30px];
}
.section4 .swiper1 .-slide ._right ._content .-title {
  @apply flex items-center gap-[30px];
}
.section4 .swiper1 .-slide ._right ._content .-title .-circle {
  @apply w-[80px] h-[80px] rounded-full bg-greenn flex items-center justify-center text-5xl font-bold text-white;
}
.section4 .swiper1 .-slide ._right ._content .-title p {
  @apply text-black text-4xl font-bold;
}
.section4 .swiper1 .-slide ._right ._content .-desc {
  @apply text-base font-medium text-black;
}

.section5 {
  @apply dark:bg-grayy pt-[150px];
}
.section5 ._container {
  @apply flex flex-col gap-[30px];
}
.section5 ._container ._left {
  @apply flex flex-col gap-[20px] max-w-[722px];
}
.section5 ._container ._left .-title {
  @apply text-5xl font-bold dark:text-white;
}
.section5 ._container ._left .-desc {
  @apply text-lg font-semibold dark:text-white;
}
.section5 ._container ._right {
  @apply flex items-center gap-[10px];
}
.section5 ._container ._right .swiper-btn-prev, .section5 ._container ._right .swiper-btn-next {
  @apply w-[50px] h-[50px] flex items-center justify-center rounded-full cursor-pointer;
}
.section5 ._container .swiper2 .-slide {
  @apply flex items-center justify-between;
}
.section5 ._container .swiper2 .-slide .folder {
  width: 380px;
  height: 229px;
  background-color: rgba(255, 255, 255, 0.05); /* Giống màu SVG */
  -webkit-clip-path: path("M188.969 4.453C187.114 1.67101 183.992 0 180.648 0H10C4.47715 0 0 4.47716 0 10V219C0 224.523 4.47716 229 10 229H370C375.523 229 380 224.523 380 219V45C380 39.4772 375.523 35 370 35H214.685C211.342 35 208.219 33.329 206.365 30.547L188.969 4.453Z");
          clip-path: path("M188.969 4.453C187.114 1.67101 183.992 0 180.648 0H10C4.47715 0 0 4.47716 0 10V219C0 224.523 4.47716 229 10 229H370C375.523 229 380 224.523 380 219V45C380 39.4772 375.523 35 370 35H214.685C211.342 35 208.219 33.329 206.365 30.547L188.969 4.453Z");
  transition: all 0.3s ease; /* Hiệu ứng chuyển đổi */
}

.FAQ {
  @apply dark:bg-grayy pt-[150px] max-w-[1055px] mx-auto;
}
.FAQ ._container {
  @apply flex flex-col items-center gap-[50px];
}
.FAQ ._container .-header {
  @apply w-full;
}
.FAQ ._container .-header ._title {
  @apply text-[64px] font-bold dark:text-white text-center pb-[50px];
}
.FAQ ._container .-header ._btom {
  @apply flex items-center justify-between w-[560px];
}
.FAQ ._container .-header ._btom span {
  @apply text-xl dark:text-white hover:underline cursor-pointer select-none;
}
.FAQ ._container .-questList {
  @apply w-full flex flex-col gap-[30px];
}
.FAQ ._container .-questList ._questBlock {
  @apply p-[20px] bg-grayy dark:bg-white dark:text-black text-white bg-grayy rounded-lg transition-all ease-out duration-300 cursor-pointer;
}
.FAQ ._container .-questList ._questBlock .-title {
  @apply flex items-center justify-between select-none;
}
.FAQ ._container .-questList ._questBlock .-title span {
  @apply text-2xl line-clamp-1 flex-1;
}
.FAQ ._container .-questList ._questBlock .-title svg {
  @apply w-6 h-6 transition-all duration-300;
}
.FAQ ._container .-questList ._questBlock:hover {
  @apply bg-darkGreenn text-white;
}

.slt_page .solutions_container {
  @apply bg-white w-full dark:bg-darkBlack;
}
.slt_page .hero {
  @apply bg-solution_hero_bg bg-cover bg-center;
}
.slt_page .hero_container {
  @apply flex sm:flex-col md:flex-col gap-[98px] pt-[170px] pb-[150px];
}
.slt_page .hero_container h4 {
  @apply text-solution_text_white sm:text-2xl md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-3xl font-semibold dark:text-white;
}
.slt_page .hero_container h3 {
  @apply text-solution_text_white sm:text-4xl md:text-[40px] lg:text-5xl xl:text-5xl 2xl:text-5xl font-extrabold dark:text-white;
}
.slt_page .hero_container p {
  @apply text-solution_text_white text-lg font-semibold dark:text-white;
}
.slt_page .hero_text {
  @apply flex flex-col flex-1 justify-center gap-8;
}
.slt_page .hero_img {
  @apply h-[414px] sm:w-full md:w-full lg:max-w-[550px];
}
.slt_page .hero_img img {
  @apply h-full w-full object-cover shrink-0;
}
.slt_page .solutions_article {
  @apply py-[90px];
}
.slt_page .solutions_article div h2 {
  @apply sm:text-[32px] md:text-[32px] lg:text-4xl xl:text-4xl 2xl:text-4xl font-bold text-center text-solution_text_black dark:text-neutral_10-night;
}
.slt_page .solutions_article div p {
  @apply text-lg font-semibold text-start text-solution_text_black dark:text-neutral_10-night;
}
.slt_page .solutions_article div ul {
  @apply text-lg font-semibold flex flex-col gap-4 list-disc pl-8 text-solution_text_black dark:text-neutral_10-night;
}
.slt_page .solutions_article-wrapper {
  @apply space-y-[30px];
}
.slt_page .card_container {
  @apply max-w-[1400px] mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[20px] xl:grid-cols-3 2xl:grid-cols-3 bg-card_background-light mt-[90px] p-[30px] rounded-3xl dark:bg-neutral_3-night;
}
.slt_page .card_wrapper {
  @apply h-full;
}
.slt_page .solutions_article .card_item {
  @apply bg-solution_card-item_bg p-5 rounded-xl dark:bg-darkBlack hover:drop-shadow-lg border-[3px] border-transparent hover:border-solution_card_item_border;
}
.slt_page .solutions_article .card_item a {
  @apply space-y-2;
}
.slt_page .solutions_article .card_item button {
  @apply flex gap-[10px] items-center bg-card_item_background-light border-2 border-solution_card_item_border text-solution_card_item_border text-base uppercase font-medium px-[15px] py-[10px] rounded-3xl dark:bg-darkBlack dark:hover:bg-solution_card_item_border;
}
.slt_page .solutions_article .card_item p {
  @apply text-solution_text_black sm:text-sm md:text-sm lg:text-xl xl:text-xl 2xl:text-xl font-medium text-start line-clamp-5 dark:text-neutral_10-night;
}
.slt_page .solutions_article .card_item:hover button {
  @apply bg-greenn text-solution_text_white;
}
.slt_page .card_icon {
  @apply w-[24px] h-[24px];
}
.slt_page .benefit_container {
  @apply px-[120px] py-[100px] bg-solution_benefits_bg bg-cover bg-center rounded-t-xl dark:bg-neutral_10;
}
.slt_page .benefit_container h3 {
  @apply text-4xl text-solution_text_white font-bold text-center;
}
.slt_page .benefit_items {
  @apply mt-[90px] grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 gap-[70px];
}
.slt_page .benefit_item {
  @apply flex gap-[30px];
}
.slt_page .benefit_item h5 {
  @apply text-2xl text-solution_text_white font-semibold mb-[15px] dark:text-neutral_10-night;
}
.slt_page .benefit_item p {
  @apply text-[22px] text-solution_text_white font-normal line-clamp-3 dark:text-neutral_10-night;
}
.slt_page .benefit_img {
  @apply max-w-[115px] max-h-[115px] aspect-square mb-[30px] sm:mx-auto shrink-0;
}
.slt_page .benefit_img img {
  @apply w-full h-full object-cover shrink-0;
}
.slt_page .example_container {
  @apply flex sm:flex-col md:flex-col max-w-[1300px] mx-auto gap-10 mt-[90px] px-4;
}
.slt_page .example_image {
  @apply sm:order-first md:order-first sm:w-full md:w-full lg:max-w-[552px] xl:max-w-[552px] 2xl:max-w-[552px] h-[414px];
}
.slt_page .example_image img {
  @apply w-full h-full object-cover shrink-0;
}
.slt_page .example_text-container {
  @apply flex flex-col justify-center flex-1 text-solution_text_black dark:text-neutral_10-night;
}
.slt_page .example_text-container ul {
  @apply list-disc mt-5 px-4;
}
.slt_page .example_text-container ul li {
  @apply text-base font-medium;
}
.slt_page .example_text {
  @apply border-b;
}
.slt_page .example_text h3 {
  @apply sm:text-[32px] md:text-[32px] lg:text-4xl xl:text-4xl 2xl:text-4xl font-bold mb-5;
}
.slt_page .example_text h6 {
  @apply text-xl font-medium mb-5;
}
.slt_page .about_container {
  @apply flex sm:flex-col md:flex-col max-w-[1300px] items-center mx-auto text-solution_text_black sm:gap-9 md:gap-9 lg:gap-[116px] xl:gap-[116px] 2xl:gap-[116px] pt-[90px] pb-[170px] px-4 dark:text-neutral_10-night;
}
.slt_page .about_text {
  @apply max-w-3xl w-full flex-1;
}
.slt_page .about_text div {
  @apply py-[15px] first:pt-0 last:pb-0;
}
.slt_page .about_text h3 {
  @apply text-4xl font-bold mb-10;
}
.slt_page .accordion_container {
  @apply w-full mx-auto;
}
.slt_page .accordion_button {
  @apply w-full text-left flex justify-between items-center;
}
.slt_page .accordion_title {
  @apply text-lg font-semibold text-solution_text_black dark:text-neutral_10-night;
}
.slt_page .accordion_icon {
  @apply h-6 w-6 transition-transform duration-300;
}
.slt_page .accordion_content {
  @apply text-solution_text_black text-base font-normal dark:text-neutral_10-night;
}
.slt_page .accordion_image {
  @apply sm:order-first md:order-first sm:w-full md:w-full flex justify-self-end lg:max-w-[455px] xl:max-w-[455px] 2xl:max-w-[455px] h-[448px];
}
.slt_page .accordion_image img {
  @apply w-full h-full object-cover shrink-0;
}

.pricing_page .pricing_container {
  @apply bg-white w-full dark:bg-pricing_background-dark pt-[170px];
}
.pricing_page .plan_container {
  @apply flex flex-col pt-[120px] gap-10;
}
.pricing_page .plan_wrapper {
  @apply flex flex-col text-center justify-center gap-10;
}
.pricing_page .plan_wrapper h1 {
  @apply text-[64px] text-white font-extrabold;
}
.pricing_page .plan_wrapper h5 {
  @apply text-2xl text-white font-semibold;
}
.pricing_page .tab_container {
  @apply flex justify-center bg-white max-w-fit mx-auto rounded-[40px] p-[10px] gap-[5px];
}
.pricing_page .tab_button {
  @apply px-4 py-2 text-base font-medium border-b-2 focus:outline-none;
}
.pricing_page .tab_active {
  @apply text-white bg-neutral_11 rounded-[30px];
}
.pricing_page .tab_inactive {
  @apply border-transparent text-neutral_11;
}
.pricing_page .tab_content {
  @apply mt-[50px] max-w-[1400px] mx-auto;
}
.pricing_page .tab_item {
  @apply grid grid-cols-4 gap-[30px];
}
.pricing_page .tab_item ul {
  @apply bg-white rounded-t-3xl space-y-[20px] pb-[30px];
}
.pricing_page .plan_tab-title {
  @apply bg-plan_title_background py-6 px-[30px] rounded-3xl;
}
.pricing_page .plan_tab-title h3 {
  @apply text-4xl font-bold text-white;
}
.pricing_page .plan_tab-price {
  @apply px-6;
}
.pricing_page .plan_tab-price div {
  @apply flex items-end gap-2;
}
.pricing_page .plan_tab-price h3 {
  @apply text-4xl font-bold text-plan_price_text;
}
.pricing_page .plan_tab-price h5 {
  @apply text-2xl font-semibold text-plan_price_text;
}
.pricing_page .plan_tab-price h6 {
  @apply text-xl font-medium text-plan_price_text;
}
.pricing_page .plan_tab-price p {
  @apply text-sm font-normal text-plan_price_text;
}
.pricing_page .plan_tab-button {
  @apply bg-plan_title_background max-w-[220px] mx-auto px-[10px] py-[8px] rounded-3xl;
}
.pricing_page .plan_tab-button a {
  @apply text-2xl text-white font-normal;
}
.pricing_page .plan_tab-action {
  @apply flex flex-col justify-center gap-1 px-6;
}
.pricing_page .plan_tab-action h6 {
  @apply text-lg font-semibold text-plan_price_text;
}
.pricing_page .plan_tab-action p {
  @apply text-sm font-normal text-plan_price_text;
}
.pricing_page .plan_feature {
  @apply px-6 flex gap-2 items-center;
}
.pricing_page .plan_feature p {
  @apply text-base font-medium;
}
.pricing_page .plan_icon {
  @apply w-[24px] h-[24px] shrink-0;
}
.pricing_page .plan_tab-badge {
  @apply bg-plan_title_background text-center py-5 rounded-b-3xl;
}
.pricing_page .plan_tab-badge h6 {
  @apply text-xl font-medium text-white;
}
.pricing_page .enterprise_container {
  @apply w-full bg-enterprise_background mt-[150px] py-[70px];
}
.pricing_page .enterprise_wrapper {
  @apply flex flex-col text-center justify-center gap-[30px];
}
.pricing_page .enterprise_wrapper h2 {
  @apply text-5xl text-white font-extrabold;
}
.pricing_page .enterprise_wrapper h5 {
  @apply text-2xl text-white font-semibold;
}/*# sourceMappingURL=style.css.map */